
body{
    position: relative;
    top:150px;
    text-align: center;
    background-color:slateblue;
    background-image: url("bg.png");
    
}

.titlemain{
    color: snow;
    text-shadow: 2px 2px black;
font-family: Blippo, fantasy;
}
