.levelheader{
    color:whitesmoke;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
}
input{
  background-color: cornflowerblue;
 
  color: antiquewhite;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

body{
  
    background-color: rgb(64, 58, 102);
    
}
.chck1{
text-align: center;
}
.button2show{
  position: relative;
  left:20px;
}

.ht{
    position: relative;
    float: right;
    color: red;
    font-size: 5mm;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.label1{
  font-family: "Comic Sans MS", cursive, sans-serif;
  position: relative;
  left:30px;
  color: antiquewhite;
}

.dot {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
  }
  .maint
  {
    align:center;
    width:50%;
    padding: 10px;
    border-collapse: separate;
  border-spacing: 0 20px;

  }
  
  .button1 {
    height: 50px;
    width: 50px;
    background-color: blue;
    display: inline-block;
  }

  .crlbtn1 {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
  }

  .button2 {
    height: 50px;
    width: 50px;
    background-color: green;
    display: inline-block;
  }
  .crlbtn2 {
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }

  .button3 {
    height: 50px;
    width: 50px;
    background-color: yellow;
    display: inline-block;
  }
  .crlbtn3 {
    height: 50px;
    width: 50px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
  }
  .button4 {
    height: 50px;
    width: 50px;
    background-color: red;
    display: inline-block;
  }
  .crlbtn4 {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }
  .button5 {
    height: 50px;
    width: 50px;
    background-color: pink;
    display: inline-block;
  }
  .crlbtn5 {
    height: 50px;
    width: 50px;
    background-color: pink;
    border-radius: 50%;
    display: inline-block;
  }
  .button6 {
    height: 50px;
    width: 50px;
    background-color:orange;
    display: inline-block;
  }
  .crlbtn6 {
    height: 50px;
    width: 50px;
    background-color:orange;
    border-radius: 50%;
    display: inline-block;
  }
  .button7 {
    height: 50px;
    width: 50px;
    background-color:brown;
    display: inline-block;
  }
  .crlbtn7 {
    height: 50px;
    width: 50px;
    background-color:brown;
    border-radius: 50%;
    display: inline-block;
  }

  .crlClear {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
  }