
body{
    position: relative;
    top:150px;
    text-align: center;
    background-color: darkslateblue;
}

.titlemain{
    text-shadow: 2px 2px whitesmoke;
font-family: Blippo, fantasy;
}